
body{
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    margin: 0 0 0 0;
}
a{
    text-decoration: none;
}

i{
    color: #FFFFFF;
}

.background{
    background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42)); 
    position: fixed;
    height: 100%;
    top: 0px;
    transition: opacity 200ms ease 0s;
    width: 100%;
    z-index: -3;
}

/*Section 1*/
.section1 {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.300) 0px 26px 30px -10px, rgb(0 0 0 / 0.300) 0px 16px 10px -10px;


}
.s1logo {
    width: 10%;
}
.s1logo img {
    width: 60%;
    padding: 0 0 0 10%;
}

/*Section 1 : Barre navigation*/ 
.button{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
.button i{
    margin-top: 2%;
    margin-right: 10%;
}
.button a{
    display: flex;
    flex-direction: row ;
    margin-left: 5%;
}

.button li{
    display: flex;
    flex-direction: row;
    line-height: 1.5;
    list-style: none;
    font-size: 13px;
    position: relative;
    margin-left: 5%;    
    padding-bottom: 2%;
    color: #FFFFFF;
    text-decoration: none;

}

li::after {
    content: ''; 
    transform: scaleX(0);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px; 
    background: #FFFFFF;
    z-index: 3;
    opacity: 1;
    transition: transform .372s;
  }

  li:hover::after {
    transform: scaleX(1);
  }


/*Section 1 : Profil*/
.s1profil {
    z-index: 3;
}
.s1profil img {
    width: 60%;
    margin: 15% 0 0 20%;
}
.s1profilmenu {
    position: absolute;
    top: 0;
    width: 15%;
    height: 0%;
    margin: auto;
    margin-left: 84.6%;
    background-image: linear-gradient(rgb(58, 60, 74), rgb(36, 38, 50)); 
    background: url(https://static-assets.bamgrid.com/product/disneyplus/images/background.dc67869b698f6c927aae59c68d9dda46.png) 50%/cover no-repeat fixed;
    font-size: 16px;
    z-index: -1;
}


.s1profil:hover ~ .s1profilmenu,
.s1profilmenu:hover {
    z-index: 2;
    height: 35%;
    transition: height .3s;
    border: 3px solid #C0C0C0;
}
.s1profilmenu div {
    opacity: 0;
    height: 100%;
}
.s1profilmenu div p {
    margin: 4% 0px 0 10%;
}

.s1profilmenu p {
    cursor: pointer;
}
.s1profil:hover ~ .s1profilmenu div,
.s1profilmenu:hover ~ .s1profilmenu div,
.s1profilmenu div:hover {
    opacity: 1;
    transition: opacity .2s;
    transition-delay: .3s;
}
.s1profilmenup {
    padding: 7% 0 50% 0;
}


/*Section 2 : Carrousel*/

.section2 {
    margin: 2% 3% 0 -0.2%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.slider{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    animation: glisse 8s infinite;
}
.imgFilm{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    animation: apparition 4s infinite ease;  
 }

 .slides{
    display: flex;
    width: 100%;
    height: 100%;
}

 .slide{
    position: relative;
    z-index: 1;
    width: 90%;
    height: 100%;
    border-radius: 10px;
    margin: 1% 0 0 4.2%;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    border: groove 4px #FFFFFF00;
 }
 .slide .img{
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    width: 100%;
    height: 100%;
   
    
 }
 .slide:hover{
    border: groove 4px #FFFFFFFF;
    transition: border .2s;
    cursor: pointer;
 }

/*Section 2 : Animations Carrousel*/

 @keyframes glisse {
    0%{
        transform: translateX(0);
    }

    25%{
        transform: translateX(0);
    }   

    50%{ 
        transform: translateX(-95%);
    }

    75%{
        transform: translateX(-95%);
    }
 }

 @keyframes apparition {
    0%{
        opacity: 0;
        transform: scale(0.5);
        left: 50%;
    }

    20%{
        opacity: 1;
        transform: scale(1);
        left: 0%;
    }
    50%{
        opacity: 1;
        transform: scale(1);
        left: 0%;
    }
    70%{
        opacity: 0;
        transform: scale(0.5);
        left: 50%;
    }

    100%{
        opacity: 0;
        transform: scale(0.5);
        left:50%;
    }
 }




/*Section 3 : Marques*/

.section3{
    display: flex;
    width: 100%;   
    margin-top: 5%;
    margin-left: 2%;
    padding-bottom: 2%; 
}


.boutons{
    width: 13%;
    height: 100%;
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    border: solid 3px #ffffff3c;
    margin-left: 2%;
    overflow: hidden;
    position: relative;
    transform: scale(1);
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s !important;
}


.vid-back{
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.vid-back video{
    position: relative  ;
    width: 100%;
    height: 100%;
    z-index: 4; 
    border-radius: 6px;
}

 .vid-back img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-image: linear-gradient(rgb(58, 60, 74), rgb(36, 38, 50));  
 }


.boutons:hover{
    transform: scale(1.07);
    box-shadow: rgb(0 0 0 / 80%) , rgb(0 0 0 / 72%) 0px 30px 22px -10px;
    border: solid 3px #FFFFFF;

}

.vid-back img:hover{
    background: #ffffff00;
}

/* Sections 4-6 : Menu deroulant films*/

.section4, .section5, .section6{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 250px;
    font-size: 75%
}

.section4 h1,.section5 h1, .section6 h1{
    margin-left: 4%;
}

.films{ 
    display: flex;
    width: 115%;
    height: 100%;
    margin-left: 6.5%;
}

.film{
    width: 85%;
    height: 100%;
    border-radius: 5px;
    margin-left: -2%;
}

.film img{
    width:85%;
    height: 85%;
    border-radius: 5px;
    border: solid 3px #f5f5f500;
    box-shadow: rgba(0, 0, 0, 1) 0px 26px 30px -10px, rgb(0 0 0 / 0.300) 0px 16px 10px -10px;
}

.film img:hover{
    transform: scale(1.07);
    border: solid 3px #F5F5F5FF;
    filter: blur(8px);
    transition: border .5s, transform .5s, filter 3s;
    transition-delay: filter 2s;   
}
.film p {
    opacity: 0;
    position: absolute;
    width: 100%;
    color: #FFFFFF;
    font-size: 32px;
}
.film img:hover ~ .film p {
    opacity: 1;
    z-index: 3;
    transition: opacity 3s;
}



/*footer*/
.footer{
    display: flex; 
    flex-direction: column ;
    width: 100% ;
    background-color: black;
}

.logo{
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo img{
    width:5%
}

.liens{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    font-size:80%;
    color: #c4c3c3;
}

.liens p{
    padding-left: 2%;
}

.liens p:hover{
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.5s;

}

.copyrights{
    display: flex;
    color: #c4c3c3;
    justify-content: center;
    width: 100%;
    font-size: 50%;
}